.searchsection{
  height: 80vh;
}
.searchsection main{
  margin-bottom:10rem;
}
.searchsection .caption{
  margin-bottom:2rem;
}
.search{
  width:40rem;
  caret-color: transparent;
  color: transparent;
  border-bottom: 2px solid var(--blue1);
}
.search:focus .cursor_line{
display: none;
}
.cursor{
  position:absolute;
  bottom:20%;
  left:1%;
}
.cursor_line{
  /* position:absolute;
  bottom:10%;
  left:1%; */
  height:1.5rem;
  width:2px;
  background-color: var(--blue1);
  animation-name: ud;
  animation-duration:3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes ud{
  0%{
    scale: 0;
  }
  25%{
    scale: 1;
  }
  50%{
    scale:0;
  }
  75%{
    scale:1;
  }
  100%{
    scale:0;
  }
}
/* input{
  caret-color: var(--blue1);
  caret-shape: ;

} */

@keyframes PulseAttention {
  50% {
    border-color: red;
  }
}
.search_results{
  background-color: var(--white);
}
.search_results:hover {
  background-color: var(--blue13);
}
/* .searchsection .all_clauses{
  margin-top:3rem;
} */

/* .searchsection .all_clauses{
  width:fit-content;
  display: block;  
} */
.search::placeholder{
  font-style: italic;
}
.caption{
  margin-top:5rem;
}
.caption h1{
  font-size: 2rem;
  line-height: 2rem;
  display:block;
  text-align: center;
  letter-spacing: 0px;
}
.searchsuggestion{
  margin-top:2.5rem;
  /* width:90%; */
}
@media screen and (min-width:576px) {
  .caption{
    margin-top: 10vh;
  }
  .caption h1{
    font-size: 2rem;
    display:inline;
    letter-spacing: -3px;
  }
  .searchsuggestion{
    margin-top: 3.2rem;
  }
}
@media screen and (min-width:992px) {
  .searchsection{
    width:85%;
  }
  .searchsuggestion{
    margin-top: 3.7rem;
    /* width:70%; */
  }
    .search{
      width:70%
    }
}
@media screen and (min-width:1200px) {
  .searchsection{
    width:85%;
  }
  .caption h1{
    font-size: 3rem;
    display:inline;
    letter-spacing: -3px;
  }
  .search{
    width: 60%;
  }
  .searchsuggestion{
    max-height:20rem;
    margin-top:5.5rem;
    /* width:60%; */
  }
}

@media screen and (min-width:1400px) {
  .searchsection{
    width:80%;
  }
  .caption h1{
    font-size: 3.5rem;
    display:inline;
    letter-spacing: -4px;
  }
  .search{
    width: 65%;
  }
  .searchsuggestion{
    max-height:20rem;
    margin-top:6rem;
    /* width:65%; */
  }
}
@media screen and (min-width:2000px) {
  .caption h1{
    font-size: 5rem;
    display:inline;
    letter-spacing: -4px;
  }
}
