.search{
    z-index: 10;
}
.searchinput{
    border-radius: 20px;
}

.clauses .definition{
    text-align: justify;
    text-justify: inter-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s;
}
.clauses:hover .definition{
    transition: all 0.2s;
    white-space: wrap;
    overflow:visible;
    text-overflow:clip;
}
.clause_alt {
    height: max-content;
}
.clauses{
    transition: all 0.2s;
    border-left: 0px solid transparent;
}

.approaches .nav .active{
    color: var(--blue1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--blue13);
}
.tab-content .nav .active{
    border-radius:0;
    border-bottom:2px solid var(--blue1);
    color: var(--blue1);
}
.clauses:hover{
    transition: all 0.2s;
    border-left:10px solid var(--blue5)
}
.clausealtsection{
    width:90%;
}
.clausesection{
    width:90%; 
}
.Card{
    min-height: 100%;
}
.clausealtsection .nav-tabs{
flex-wrap: nowrap;
}
.back_to_search{
    top:2%;
    left:-3%;
}
.back_to_search img{
    width:1.4rem;
}
.allclauses{
    top:2%;
    left:1%;
}
.allclauses img{
    width:1.4rem;
}
.icon-small{
    width:0.75rem;
}
.question .col-1{
    border-left: 8px solid var(--blue5);
}
.icon-mid{
    width: 4rem;
}
.question p{
    text-align:justify;
    text-justify: inter-word;
}
@media screen and (min-width:576px) {
    .clausesection{
        width: 90%;
    }
    .clausealtsection{
        width: 90%;
    }
    .back_to_search{
        top:2%;
        left:-2%;
    }
    .back_to_search img{
        width:2rem;
    }
    .allclauses{
        top:2%;
        left:1%;
    }
    .allclauses img{
        width:1.6rem;
    }
    .icon-small{
        width:1rem;
    }
    .icon-mid{
        width:5rem;
    }
}
@media screen and (min-width:768px) {
    .back_to_search{
        top:2%;
        left:0%;
    }
    .back_to_search img{
        width:2rem;
    }
    .allclauses{
        top:2%;
        left:1%;
    }
    .allclauses img{
        width:2rem;
    }
    .icon-small{
        width:1rem;
    }
    .icon-mid{
        width:5rem;
    }
}
@media screen and (min-width:992px) {
    .clausesection{
        width: 85%;
    }
    .clausealtsection{
        width: 85%;
    }
    .back_to_search{
        top:2%;
        left:3%;
    }
    .back_to_search img{
        width:2rem;
    }
    .allclauses{
        top:2%;
        left:4%;
    }
    .allclauses img{
        width:2rem;
    }
    .icon-small{
        width:1.3rem;
    }
    .icon-mid{
        width:5rem;
    }
    .heading{
        left:50%;
        top:3%;
        transform: translateX(-50%);
    }
}
@media screen and (min-width:1400px) {
    .back_to_search{
        top:4%;
        left:4%;
    }
    .icon-small{
        width:1.2rem;
    }
    .icon-mid{
        width:4rem;
    }
    .back_to_search img{
        width:1.5rem;
    }
    .allclauses{
        top:4%;
        left:5%;
    }
    .allclauses img{
        width:1.5rem;
    }
    .clausesection{
        width: 80%;
    }
    .clausealtsection{
        width: 80%;
    }
    .Card{
        max-width: 40rem;
    }
    .heading{
        left:50%;
        top:4%;
        transform: translateX(-50%);
    }
}