  .logo{
    width:3rem;
  }
  .navbar{
    width:90%
  }
  .icons{
    width:1rem;
  }
  @media screen and (min-width:576px) {
    .logo{
      width:4rem;
    }
    .navbar{
      width:90%;
      margin-bottom:1rem
    }
    .icons{
      width:1.5rem;
    }
  }
  @media screen and (min-width:992px) {
    .logo{
      width:4.5rem;
    }
    .navbar-toggler-icon{
      width:2rem;
      height:2rem;
    }
    .navbar{
      width:85%;
      margin-bottom:1rem
    }
    .icons{
      width:1.6rem;
    }
  }
@media screen and (min-width:1400px) {
  .logo{
    width:5rem;
  }
  .icons{
    width:1.8rem;
  }
  .navbar-toggler-icon{
    width:2rem;
    height:2rem;
  }
  .navbar{
    width:80%;
    margin-bottom:1rem
  }
}